@model IEnumerable<İlkProjeWebUI.Entity.Product>
@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="@item.Image" alt="@item.Name" class="img-responsive" />
                        <h4>@item.Name</h4>
                        <p>@item.Price ₺</p>
                        <a href="/Products/Details/@item.Id" class="btn btn-primary btn-sm">İncele</a>
                        <form action="/Cart/AddToCart" method="post" style="display:inline;">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-success btn-sm">Sepete Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div>Ürün bulunamadı.</div>
}
